<a href="https://colab.research.google.com/github/nestormontano/PrDS_2023_01_WIDS_Prediccion_Energia/blob/main/Scripts/WIDS2022_Prediccion_Energia__EDA_r_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Proyecto Programa Data Science WIDS - Prediccion de Energia

Con R

Sitio del concurso: https://www.kaggle.com/c/widsdatathon2022

Datos: https://drive.google.com/drive/folders/1BxbUc5k1DowoyIvRurX1Iw8ksyIrLzBE?usp=share_link


En R no pueden conectarse a Google Drive, pueden  seguir las instrucciones dadas en el pdf para  
- Ser invitados como colaboradores del repositorio en GitHub
- Conectar el Colab con su drive 
- Escribir en GitHub los cambios para que se noten sus aportes.

#### Preliminares

In [2]:
library(tidyverse)

### Descargar los datos

In [3]:
# https://drive.google.com/file/d/1PdeAFd0I1XLZ8WEaFbpBXB18QDWZMyXo/view?usp=sharing
system("gdown --id 1PdeAFd0I1XLZ8WEaFbpBXB18QDWZMyXo")

## EDA

### Importar, corregir Datos y unir

In [ ]:
datos= read_csv('train.csv')

Rows: 75757 Columns: 64
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (3): State_Factor, building_class, facility_type
dbl (61): Year_Factor, floor_area, year_built, energy_star_rating, ELEVATION...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [ ]:
datos %>% glimpse

Rows: 75,757
Columns: 64
$ Year_Factor               <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,…
$ State_Factor              <chr> "State_1", "State_1", "State_1", "State_1", …
$ building_class            <chr> "Commercial", "Commercial", "Commercial", "C…
$ facility_type             <chr> "Grocery_store_or_food_market", "Warehouse_D…
$ floor_area                <dbl> 61242, 274000, 280025, 55325, 66000, 119900,…
$ year_built                <dbl> 1942, 1955, 1951, 1980, 1985, 1956, 1982, 19…
$ energy_star_rating        <dbl> 11, 45, 97, 46, 100, NA, 56, 99, 98, 83, 51,…
$ ELEVATION                 <dbl> 2.4, 1.8, 1.8, 1.8, 2.4, 2.4, 2.4, 2.4, 2.4,…
$ january_min_temp          <dbl> 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, …
$ january_avg_temp          <dbl> 50.5, 50.5, 50.5, 50.5, 50.5, 50.5, 50.5, 50…
$ january_max_temp          <dbl> 68, 68, 68, 68, 68, 68, 68, 68, 68, 68, 68, …
$ february_min_temp         <dbl> 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, …
$ february_avg_temp         <dbl> 50.58929, 50.58929, 50.58929, 50.58929, 50.5…
$ february_max_temp         <dbl> 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, …
$ march_min_temp            <dbl> 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, …
$ march_avg_temp            <dbl> 53.69355, 53.69355, 53.69355, 53.69355, 53.6…
$ march_max_temp            <dbl> 80, 80, 80, 80, 80, 80, 80, 80, 80, 80, 80, …
$ april_min_temp            <dbl> 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, …
$ april_avg_temp            <dbl> 55.5, 55.5, 55.5, 55.5, 55.5, 55.5, 55.5, 55…
$ april_max_temp            <dbl> 78, 78, 78, 78, 78, 78, 78, 78, 78, 78, 78, …
$ may_min_temp              <dbl> 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, …
$ may_avg_temp              <dbl> 56.85484, 56.85484, 56.85484, 56.85484, 56.8…
$ may_max_temp              <dbl> 84, 84, 84, 84, 84, 84, 84, 84, 84, 84, 84, …
$ june_min_temp             <dbl> 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, …
$ june_avg_temp             <dbl> 60.5, 60.5, 60.5, 60.5, 60.5, 60.5, 60.5, 60…
$ june_max_temp             <dbl> 90, 90, 90, 90, 90, 90, 90, 90, 90, 90, 90, …
$ july_min_temp             <dbl> 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, …
$ july_avg_temp             <dbl> 62.72581, 62.72581, 62.72581, 62.72581, 62.7…
$ july_max_temp             <dbl> 84, 84, 84, 84, 84, 84, 84, 84, 84, 84, 84, …
$ august_min_temp           <dbl> 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, …
$ august_avg_temp           <dbl> 62.16129, 62.16129, 62.16129, 62.16129, 62.1…
$ august_max_temp           <dbl> 85, 85, 85, 85, 85, 85, 85, 85, 85, 85, 85, …
$ september_min_temp        <dbl> 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, …
$ september_avg_temp        <dbl> 64.65, 64.65, 64.65, 64.65, 64.65, 64.65, 64…
$ september_max_temp        <dbl> 90, 90, 90, 90, 90, 90, 90, 90, 90, 90, 90, …
$ october_min_temp          <dbl> 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, …
$ october_avg_temp          <dbl> 63.01613, 63.01613, 63.01613, 63.01613, 63.0…
$ october_max_temp          <dbl> 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, …
$ november_min_temp         <dbl> 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, …
$ november_avg_temp         <dbl> 53.8, 53.8, 53.8, 53.8, 53.8, 53.8, 53.8, 53…
$ november_max_temp         <dbl> 72, 72, 72, 72, 72, 72, 72, 72, 72, 72, 72, …
$ december_min_temp         <dbl> 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, …
$ december_avg_temp         <dbl> 49.27419, 49.27419, 49.27419, 49.27419, 49.2…
$ december_max_temp         <dbl> 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, …
$ cooling_degree_days       <dbl> 115, 115, 115, 115, 115, 115, 115, 115, 115,…
$ heating_degree_days       <dbl> 2960, 2960, 2960, 2960, 2960, 2960, 2960, 29…
$ precipitation_inches      <dbl> 16.59, 16.59, 16.59, 16.59, 16.59, 16.59, 16…
$ snowfall_inches           <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…
$ snowdepth_inches          <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…
$ avg_temp                  <dbl> 56.9726, 56.9726, 56.9726, 56.9726, 56.9726,…
$ days_below_30F            <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…
$ days_below_20F            <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…
$ days_below_10F            <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…
$ days_below_0F             <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…
$ days_above_80F            <dbl> 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, …
$ days_above_90F            <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…
$ days_above_100F           <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…
$ days_above_110F           <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…
$ direction_max_wind_speed  <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,…
$ direction_peak_wind_speed <dbl> 1, NA, NA, NA, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,…
$ max_wind_speed            <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,…
$ days_with_fog             <dbl> NA, 12, 12, 12, NA, NA, NA, NA, NA, NA, NA, …
$ site_eui                  <dbl> 248.682615, 26.500150, 24.693619, 48.406926,…
$ id                        <dbl> 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13…

### EDA univariado

Para encontrar qué variables deben ser excluidas del modelo, si se requiere alguna transformación, etc.

#### ++ Variables con demasiados NA

#### ++ Variables con varianza cercana a cero

#### Conclusiones

### EDA Multivariado

Para encontrar relaciones entre variables, variables que pueden producir tener multicolinearidad o concurvidad, etc.

#### ++ Variables con alta correlación